<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mesoamerican Museum</title>
    <link rel="stylesheet" href="/css/reset.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/singleart.css" />
</head>
<body>
    <div class="backgroundbar2"></div>
    <header>
        <img class="museumicon" src="/icons/MAMicon.jpeg" alt="icon of the museum">
        <h1 class="collectionh1">Mesoamerican History Museum</h1>
        <h2 class="collectionarth2">Civilization Art</h2>
    </header>
    <main>
        <div class="mainimagebox" >
            <img class="mainimage" src="{{work.image_url}}" alt="image description">
        </div>
        <div class="iteminfo">
            <h1>{{work.name}}</h1>
            <h2>{{work.art_type.civ.name}} - {{work.date_created}}</h2>
            <h3>Item Description</h3>
            <p class="itemtext">{{work.description}}Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit, amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem.</p>
            <div class="likebox">
                <img class="likeicon" src="/icons/heart_icon.jpeg">
                <p class="likecounter">1647 Likes</p>
            </div>
        </div>
    </main>
    <script src="/js/index.js"></script>
        {{> footer}}
    </body>
    <script src="/js/singleart.js"></script>
</html>